!!! 5
%html{lang: 'ru'}
  %head
    %meta{charset: 'utf-8'}
    %title Привет, Haml!
  %body
    %h1 Привет, Haml!
    %p Это пример использования Haml.

<!DOCTYPE html>
<html lang='ru'>
  <head>
    <meta charset='utf-8'>
    <title>Привет, Haml!</title>
  </head>
  <body>
    <h1>Привет, Haml!</h1>
    <p>Это пример использования Haml.</p>
  </body>
</html>
